/* Profile.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.profile-container {
  background-color: #fff;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
  border: 2px solid #007bff; /* Added border */
}

.profile-container h1 {
  margin-bottom: 1em;
  color: #333;
}

.profile-container img {
  width: 10px; /* Adjusted width */
  height: 10px; /* Adjusted height */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}

.profile-container p {
  margin: 0.5em 0;
  color: blue,
}

.profile-container p strong {
  color: #333;
}

.error {
  color: red;
  text-align: center;
}
